header {
    width: 100%;
}

.blog_wrapper {
    margin-left: 200px;
}

.blog_wrapper .post_slider h1{
    text-align: center;    
}

.blog_wrapper .post_slider {
    border: 1px solid red;
    position: relative;
}

.blog_wrapper .post_slider .prev {
    position: absolute;
    top: 50%;
    left: 250px;
    font-size: 2em;
    color: #006699;
    cursor: pointer;
}

.blog_wrapper .post_slider .next {
    position: absolute;
    top: 50%;
    right: 250px;
    font-size: 2em;
    color: #006699;
    cursor: pointer;
}

.blog_wrapper .post_slider .post_wrapper {
    width: 65%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    border: 1px dashed red;
}

.blog_wrapper .post_slider .post_wrapper .post {
    width: 350px;
    height: 350px;
    margin: 0px 10px;
    display: inline-block;
    background: #05f7ff;
}

.blog_wrapper .post_slider .post_wrapper .post .slider_image {
    width: 100%;
    height: 200px;
}