 main {
     width: 100%;
     margin-left: 200px;
}

.main_content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    column-gap: 20px;    
}

.main_content ul li{
    width: 300px;
    height: 300px;
    border: 5px solid #4b4276;
    margin: 50px 0px 10px 0px;
    background: #f1f1f1;
    transition: 0.5s;
}

.main_content ul li:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px #000000;
}

.main_content ul li h2 {
    width: 100%;
    border-bottom: 5px solid #000000;
}