.wrapper .project-container {
    width: 80%;
    overflow: hidden;
    background: skyblue;
    margin: 20px auto;
    position: relative;
    left: 100px;
    padding: 70px;
    border: 1px solid gray;
}

.wrapper .project-container ul {
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 15px;
}

.wrapper .project-container ul li {
    list-style: none;
    float: left;
    width: 30%;
    height: 250px;
    background: red;
    margin: 20px 20px 0px 10px;
}